---
interface Props {
    text: string;
    id?: string;
    href?: string;
}

const { text, id, href } = Astro.props;

const Tag = href ? "p" : "button";
---

<Tag
    class="p-3 border-2 border-black dark:border-white rounded-md select-none"
    id={id}
>
    {
        href ? (
            <a href={href} class="text-lg font-bold">{text}</a>
        ) : (
            <span class="text-lg font-bold">{text}</span>
        )
    }
</Tag>
